global:
  resolve_timeout: 5m

route:
  receiver: operational-email
  group_by: [alertname]
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 4h

receivers:
  - name: operational-email
    email_configs:
      - to: __ALERT_EMAIL_TO__
        from: __SPRING_MAIL_USERNAME__
        smarthost: __SPRING_MAIL_HOST__:__SPRING_MAIL_PORT__
        auth_username: __SPRING_MAIL_USERNAME__
        auth_password: __SPRING_MAIL_PASSWORD__
        require_tls: true
