# Maven Target & Binaries
**/target/
*.class
*.jar
*.war
*.ear

# Node & Package Managers
**/node_modules/
**/.pnpm-store/
**/.output/
**/.vinxi/
**/.turbo/
**/dist/

# Environment Secrets
.env
.env.local
.env.*.local

# IDE & OS
.idea/
*.iml
.vscode/
.DS_Store
Thumbs.db
*.md

# Docker Data & Temp
tmp/
*.log
data/